.nav-items {
  height: 91px;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  margin-right: 10px;
}
.nav-items ul li a {
  display: block;
  width: 183px;
  height: 41px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 41px;
  color: #000;
}
.nav-items ul li .active {
  border: 1px solid #71DCE7;
  color: #71DCE7;
}
.nav-items ul li .active .iconfont {
  font-size: 18px;
}
.news-items {
  padding-bottom: 100px;
}
.news-items .overview {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
.news-items h2 {
  text-align: center;
  margin-bottom: 20px;
}
.news-items .pic {
  width: 1200px;
  height: 770px;
  text-align: center;
  margin: 10px 0;
}
.news-items .pic img {
  width: 1170px;
  height: 100%;
}
.news-items p {
  text-indent: 2em;
  line-height: 1.8em;
}
