.picture {
  background: url(../uploads/banner-items2.jpg) no-repeat center / cover;
}
.picture-title {
  padding: 50px 0;
  text-align: center;
}
.picture-title a {
  font-size: 14px;
  color: #777;
}
.picture-title a:hover {
  font-weight: bold;
  color: #71DCE7;
}
.picture-title span {
  color: #777;
  margin: 0 10px;
}
.picture-title .active {
  font-weight: bold;
  color: #71DCE7;
}
.picture-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.picture-list a {
  position: relative;
  width: 370px;
  height: 246px;
  margin-bottom: 20px;
  overflow: hidden;
}
.picture-list a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.picture-list a .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: 0.5s;
}
.picture-list a .scale {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #71dce7;
  transition: 0.5s;
  text-align: center;
  line-height: 62px;
}
.picture-list a .scale::after {
  content: '\e601';
  font-family: iconfont;
  font-size: 30px;
  color: #fff;
}
.picture-list a:hover .mask {
  transform: scale(1);
}
.picture-list a:hover .scale {
  transform: translate(-50%, -50%) scale(1);
}
.picture-list a:hover img {
  transform: scale(1.1);
}
