.report {
  width: 800px;
  height: 623px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px;
  padding: 40px;
}
.report h3 {
  font-size: 18px;
  margin-bottom: 25px;
}
.report .put720 input {
  width: 720px;
  height: 48px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.report .put720 input::placeholder {
  font-size: 15px;
}
.report .put345 {
  display: flex;
  justify-content: space-between;
}
.report .put345 input {
  width: 345px;
  height: 48px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.report .put345 input::placeholder {
  font-size: 15px;
}
.report textarea {
  width: 100%;
  min-height: 170px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  outline: 0;
}
.report textarea::placeholder {
  font-size: 15px;
}
.report button {
  margin-top: 35px;
  width: 145px;
  height: 55px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 51px;
  color: #fff;
  border-radius: 30px;
  background-color: #71dce7;
  border: 2px solid #71dce7;
}
.report button:hover {
  color: #71dce7;
  background-color: #fff;
}
